.header {
  $blue: #56bcbc;

  padding: 5px 0;
  border-bottom: 2px solid $blue;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    max-width: 70px;
  }

  &__action {
    margin-left: 15px;
    padding: 12px 24px;
    border: 2px solid $blue;
    font-weight: 700;
    transition: all .2s;

    &:hover {
      background-color: $blue;
      color: #fff;
    }
  }

}
